<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/agenda</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">d1p10m4d0j4v4</property>
        <property name="hibernate.default_schema">agenda</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool.size">1</property>
		<property name="current_session_context_class">thread</property>
		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">org.hibernaorg.hibernate.cache.internal.NoCacheProvidete.cache.internal.NoCacheProvider</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">none</property>
		<property name="hibernate.transform_hbm_xml.enabled">true</property>
		<!-- create -->
		<mapping class="edu.unam.agenda.model.ContactType"/>
		<mapping class="edu.unam.agenda.model.MeansContacts"/>
		<mapping class="edu.unam.agenda.model.Contact"/>
		<mapping class="edu.unam.agenda.model.PhoneType"/>
    </session-factory>
</hibernate-configuration>
